

.hero{
    display: flex;
    height: 100vh;
    gap: 43px;
    position: relative;
    margin-top: 5px;
}



.hero__title{
    color: #000;
    font-family: "Roboto", sans-serif;;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 4px;
    max-width: 550px;
    margin-left: -20px;
    animation: appearImg 1s 1;
    opacity: 1;
    text-wrap: wrap;
}


.hero__offers{
    display: flex;
    /* gap: 15%; */
}

.hero__offer__block{
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.hero__line{
    width: 1px;
    height: 359px;
    background: rgba(0, 0, 0, 0.35);
    margin-left: 54px;
    margin-right: 54px;
}

.hero__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: 5%;
}
.hero__offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    }

.hero__icon{
    width: 66px;
    height: 66px;
    flex-shrink: 0;
    
}

.hero__offers{
    margin-left: 10%;
    margin-top: 25px;
}

.btn{
    margin-top: 20px;
    transform: translate(0px);
}

.hero__offer-title{
    width: 157px;
    height: 25px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inconsolata;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;

}

.hero__offer-title_decoration{
    color: var(--colorTitle);
    font-family: Inder;
}

.hero__info .hero__btn{
    margin-top: 22px;
    transform: translate(10%);
}

.hero__icon{
    widows: 100px;
    height: 77px;
}


.hero__img-home {
    animation: appearImg 1s 1;
    opacity: 1;
    max-width: 100%;
}

      @keyframes appearImg{
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.25;
        }
        
        50%{
            opacity: 0.5;
        }
        
        75%{
            opacity: 0.75;
        }
        100%{
            opacity: 1;
        }
    }
      

@media screen and (max-width: 1500px) {

    .hero__info{
        margin-left: -60px;
    }
    .hero__line{
        margin-left: 34px;
        margin-right: 34px;
    }
    
}  

@media screen and (max-width: 1320px) {

    .hero__info{
        margin-left: -54px;
    }
    

    .hero__line{
       margin-left: 24px;
       margin-right: 24px;
    }
  
    
}  

@media screen and (max-width: 1310px) {

    .hero__info{
        margin-left: -64px;
    }
    

    .hero__line{
       margin-left: 14px;
       margin-right: 14px;
    }
  
    
}  

@media screen and (max-width: 1270px) {
    .hero {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 20px;
        height:auto;
        max-width: 1000px;
    }
    .hero__contant{
        margin-bottom: 40px;
    }
    .hero__img-home {
        width: 100%;
        max-width: none;
    }

    .hero__info {
        margin: 0; /
    }
    .hero__information {
        transform: translateX(-20px);
    }
    
    .hero__contant {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .hero__line{
        width: 1px;
        height: 400px;
        background: rgba(0, 0, 0, 0.35);
        margin-left: 100px;
        margin-right: 100px;
    }

    .hero__icon{
        width: 120px;
        height: 120px;
        flex-shrink: 0;
    }

    .hero__title{
        font-size: 40px;
        transform: translate(30px);
        margin-bottom: 30px;
        text-align: center;
    }
    .hero__line{
        width: 1px;
        height: 400px;
        background: rgba(0, 0, 0, 0.35);
        margin-left: 100px;
        margin-right: 100px;
    }

}

@media screen and (max-width: 750px) {
    .hero__information{
        transform: translate(-30px);
    } 

}

@media screen and (max-width: 670px) {
    
    .hero__information{
        transform: translate(-30px);
    } 
    .hero__title{
        font-size: 50px;
    }
    .hero__icon{
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }
    .hero__line{
        margin-left: 70px;
        margin-right: 70px;
    }
}



@media screen and (max-width: 500px) {
    .hero__title{
        font-size: 20px;
    }
    .hero__line{
        margin-left: 40px;
        margin-right: 40px;
        height: 350px;

    }
    .hero__icon{
        width: 80px;
        height: 80px;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 450px) {
    .hero__title{
        font-size: 15px;

    }
    .hero__offers{
        margin-left: 50px;
    }
    .hero__line{
        margin-left: 30px;
        margin-right: 30px;
        height: 300px;

    }
    .hero__icon{
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }

    .hero__offer-title{
        font-size: 15px;
    }
    .hero__title{
        font-size: 15px;
    }
}


@media screen and (max-width: 430px) {
    .hero__title{
        max-width: 90%;
        font-size: 20px;
        text-wrap: wrap;
        text-align:center;
        transform: translateX(70px);
    }
    .hero__offers{
        margin-left: 70px;
    }
    .hero__line{
      display: none;
    }
    .hero__icon{
        width: 55px;
        height: 55px;
        flex-shrink: 0;
    }

    .hero__offer-title{
        font-size: 14px;
    }
    .btn{
        transform: translateX(5px);
    }
    .hero__offer-title{
        text-wrap: wrap;
    }
    
}


@media screen and (max-width: 350px) {
    .hero__img-home{
        margin-top: 10px;
    }
    .hero__title{
        font-size: 15px;
        max-width: 200px;
    }
    .hero__offers{
        flex-wrap: wrap;
        gap: 30px;
        margin-top: -10px;
    }
    .hero__offer__block{
        gap: 30px;
    }
    .hero__icon{
        width: 80px;
        height: 80px;
    }
    .hero__offer-title{
        font-size: 15px;
    }
    .btn{
        transform: translateX(20px);
        font-size: 10px;
    }
    .burger{
        display: none;
    }
}