.reviews {
    margin-top: 70px;
    font-family: "Montserrat", sans-serif;
}

.reviews__contant {
    margin-top: 60px;
}
.reviews__list {
   display: flex;
    justify-content: center;
  flex-wrap: wrap;
   gap: 50px;

}
.reviews__item {
    width: 500px;
    padding: 10px 20px 20px 10px;
    flex-shrink: 0;
    border-radius: 31px;
    background: rgba(255, 255, 255, 0.83);
    box-shadow: 8px 7px 7px 0px rgba(0, 0, 0, 0.25);
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.reviews__item:hover{
    box-shadow: -8px -7px 10px 0px rgba(0, 0, 0, 0.25);
}

.reviews_visible{
    display: none;
}
.reviews__link {
    text-align: center;
    margin-top: 60px;
    color: #000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    cursor: pointer;
}

.reviews__link:hover{
    color: #FAB005;
}

.reviews__name{
    display: flex;
    gap: 9px;
}

.reviews__person{
    background-color: #cc4165;
    color: white;
    border-radius: 100%;
    padding: 15px 19px;
}

.reviews__text{
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.5px;
}

.reviews__grade{
    display: flex;
    gap:31px;   
}

.reviews__item{

}

.reviews__reviews{
    font-size: 18px;
}

.reviews__name-person{
    text-align: start;
}

.reviews__person-img{
    border-radius: 100%;
    padding: 15px 19px;
    background-repeat: no-repeat;
}

.reviews_visible{
    display: none;
}


@media(max-width: 800px){
    .reviews__item{
        max-width: 100%;
    }

    .reviews__star{
        display: none;
    }

        .reviews__reviews {
            font-size: 15px;
            margin-top: 10px;
        }
}